[submodule "src/thirdparty/Sux"]
	path = src/thirdparty/Sux
	url = https://github.com/foudrer/Sux.git
[submodule "test/thirdparty/Catch2"]
	path = test/thirdparty/Catch2
	url = https://github.com/catchorg/Catch2.git
